# .env.example
# -----------------------------------------------
# Copy this file to .env and fill in your values
# Run: cp .env.example .env
# -----------------------------------------------

# Django
DJANGO_SECRET_KEY=<your-django-secret-key>

# -----------------------------------------------
# LLM Provider
# Set to "openai" or "ollama"
# -----------------------------------------------

LLM_PROVIDER=openai

# -----------------------------------------------
# OpenAI Settings
# Used when LLM_PROVIDER=openai
# make sure to have an api key with credits
# -----------------------------------------------

OPENAI_API_KEY=<your-openai-api-key-here>
MODEL_NAME=gpt-4o-mini   # you can use any other model as well

# -----------------------------------------------
# Ollama Settings
# Used when LLM_PROVIDER=ollama
# Make sure Ollama is running: ollama serve
# -----------------------------------------------

# OLLAMA_MODEL=phi3:3.8b
